<div class="error-page animate__animated animate__fadeIn">
    <h1>404</h1>
    <p>抱歉，您请求的页面不存在。</p>
    <a href="/" class="btn btn-primary">
        <i class="fas fa-home me-2"></i>返回首页
    </a>
</div>